!!!5
html
	head
		title Misrab.me
		//- Bootstrap CSS
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
		// [if lt IE 9]
			script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
			script(src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")
		// [endif]
		
		
		link(rel='stylesheet', href='/stylesheets/generic.css')
		block stylesheets
		
	body
		.container
			#wrap
				block content
		
		
		
			include ./footer_partial
		
	
		//- JQuery
		script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js')
		//- Bootstrap JS
		script(type='text/javascript', src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
		//- JQuery Dotdotdot for text ellipsis overflow
		//- script(type='text/javascript', src='/javascripts/generic/jquery.dotdotdot.min.js')
		//- Timeago for human readable time
		//- script(type='text/javascript', src='/javascripts/generic/jquery.timeago.js')
	
		//-script(data-main='/javascripts/generic/index', src='/javascripts/generic/require.js')
		block javascripts