extends generic_layout

block stylesheets
	link(rel='stylesheet', href='/stylesheets/index.css')
	
block javascripts
	script(type='text/javascript', src='/javascripts/index.js')
	
block content
	.row
		.col-md-4.text-center
		
			h1 Misrab.me
			
			h4 Technologist, Learner, Homosapien
			
			img(id='profile_img', src='/images/profile.jpg')
		
			
		
		//- padding to match h1 margin-top in other col
		.col-md-8(style='padding: 20px;')
			
			include ./carousel_partial