#profile_img {
  width: 100%;
  -webkit-box-shadow: 0 0 5px #808080;
  box-shadow: 0 0 5px #808080;
}
#nav_table {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}
#nav_table .nav_item {
  cursor: pointer;
  color: #808080;
}
#nav_table .nav_item:hover,
#nav_table .nav_item.active {
  color: #000;
}
#nav_table .nav_projects {
  color: #fe6f5e;
}
#nav_table .nav_blog {
  color: #7bb661;
}
#nav_table .nav_fun {
  color: #ffbf00;
}
#welcome,
#projects,
#blog,
#fun {
  padding: 20px;
  margin: 0 5px;
  margin-bottom: 30px;
  overflow-y: scroll;
  -webkit-box-shadow: 0 0 10px #808080;
  box-shadow: 0 0 10px #808080;
}
#welcome {
  background-color: #f5f5dc;
}
#projects {
  background-color: #fe6f5e;
}
#blog {
  background-color: #7bb661;
}
#fun {
  background-color: #ffbf00;
}
.blog_image {
  height: 260px;
  max-width: 100%;
  margin: 15px auto;
}
/*
.btn-group
	color black
	text-shadow none

.carousel
	.item
		background-color white
		min-height 800px
		color black
		border 1px solid grey
		text-shadow none
		padding 20px
		margin 20px auto		
		border-radius 4px
		box-shadow 2px 2px 2px 0px #000
		
		font-size 1.25em
		
		.slide_section
			border-bottom 1px dotted grey
			margin-top 15px
			
			p
				text-align left
				font-size 0.75em
*/
