@import "nib"
@import "./variables"


#profile_img
	width 100%
	box-shadow 0 0 5px grey

#nav_table
	width 100%
	font-size 1.5em
	text-align center

	.nav_item
		cursor pointer
		color grey
	.nav_item:hover, .nav_item.active
		color black

	.nav_projects
		color projects_color
	.nav_blog
		color blog_color
	.nav_fun
		color fun_color


#welcome, #projects, #blog, #fun
	padding 20px
	margin 0 5px
	margin-bottom 30px
	overflow-y scroll
	box-shadow 0 0 10px grey
#welcome
	background-color welcome_color
#projects
	background-color projects_color
#blog
	background-color blog_color
#fun
	background-color fun_color

.blog_image
	height 260px
	max-width 100%
	margin 15px auto



/*
.btn-group
	color black
	text-shadow none

.carousel
	.item
		background-color white
		min-height 800px
		color black
		border 1px solid grey
		text-shadow none
		padding 20px
		margin 20px auto		
		border-radius 4px
		box-shadow 2px 2px 2px 0px #000
		
		font-size 1.25em
		
		.slide_section
			border-bottom 1px dotted grey
			margin-top 15px
			
			p
				text-align left
				font-size 0.75em
*/