#profile_img
	width 100%
	border-radius 6px
	box-shadow 0 0 5px whitesmoke
	
	
.btn-group
	color black
	text-shadow none

.carousel
	.item
		background-color white
		min-height 800px
		color black
		border 1px solid grey
		text-shadow none
		padding 20px
		margin 20px auto		
		border-radius 4px
		box-shadow 2px 2px 2px 0px #000
		
		font-size 1.25em
		
		.slide_section
			border-bottom 1px dotted grey
			margin-top 15px
			
			p
				text-align left
				font-size 0.75em