#profile_img
	width 100%
	border-radius 6px
	box-shadow 0 0 5px whitesmoke
	
	
.btn-group
	color black
	text-shadow none

.carousel
	.item
		background-color white
		min-height 400px
		color black
		text-shadow none
		padding 20px
		margin 20px auto		
		border-radius 4px
		box-shadow 2px 2px 2px 0px #000