table#nav_table
	tr
		td
			.nav_item.nav_projects Projects
		td
			a(href='https://s3.amazonaws.com/misrabme/Misrab+CV.pdf', target='_blank').nav_item Résumé
		td
			.nav_item.nav_blog.nav_blog Blog
		td
			//-.nav_item.nav_fun Fun
			a(href='/fun').nav_item.nav_fun Fun