
.row.full_height#welcome
	.col-sm-4.text-center
		.row
			.col-sm-2
				img(style='width: 100%;', src='/images/Misrab.png')
			.col-sm-10
				h1(style='margin-top: 0;') Misrab.me

		.row
			.col-sm-12
				h4 Technologist, Learner, Homosapien
		
		img(id='profile_img', src='/images/profile.jpg')

		.text-center.medium_space_top
			.italic
				| "My father once told me, 'Son, you can play for applause,
				|  but then that's all you'll get'."
		.text-center
			| - A philosopher of Jazz

	//- padding to match h1 margin-top in other col
	.col-sm-8.text-center
		include ./nav_partial

		h3(style='margin-top: 10%;')
			| I'm Misrab, a 25 year-old graduate of Stanford University. I grew up in Singapore, went 
			| to the French school, and spent a couple of years in California.

		h3
			| Please feel free to check out what I've worked and played on, or 
			| drop me an email at faizullah.misrab@gmail.com.